.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-main-container {
    position: relative;
    height: 45vw;
    max-height: 760px;
    width: 80vw;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-blur-tarjeta {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1155px;
    max-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 50.52%, #FF007A 100%);
    filter: blur(30px);
    border-radius: 50px;
}

.main-container-tarjeta {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1155px;
    max-height: 650px;
    background-image: url("../images/Tarjeta-signup.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}


.span1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

.span2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

input {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    box-sizing: border-box;
    outline: none;
    background-color: var(--color-1);
    border-radius: 20px;
    padding-left: 10px;
    border: 0;
    padding: 0;
    padding-left: 15px;
}

form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 8%;
}

.div-form {
    width: 65%;
    height: 80%;
    margin-top: 18%;
}

.div-data-user {
    display: flex;
    justify-content: space-between;
}

.button-ingresar {
    padding: 0;
    cursor: pointer;
}

.div-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-name {
    width: 180px;
    height: 45px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 100%);
    border-radius: 20px;
}

.div-dni {
    width: 160px;
    height: 45px;
    background: linear-gradient(90deg, #5773FF 0%, #FF007A 100%);
    border-radius: 20px;
}

.div-pass {
    width: 100%;
    height: 45px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 50.52%, #FF007A 100%);
    border-radius: 20px;
}

.div-button {
    width: 100%;
    height: 45px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 50.52%, #FF007A 100%);
    border-radius: 20px;
}

.p-redirection {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.a-redirection {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #00B2FF;
}

.div-warning{
    height: 15px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    margin: 5px 0px 10px 0px;
    color: var(--bg-btn-color4)

}


@media only screen and (max-width: 1230px) {
    
    .span1{
        font-size: 14px;
    }
    
    .span2 {
        font-size: 30px;
    }

    form{
        margin-top: 6%;
    }
    
}

@media only screen and (max-width: 1024px){
    main{
        background-color: #00B2FF;
    }
}